# Data Types

Data Types: Integers, Floats, Strings, Booleans

In [ ]:
# Variable Assignment
var_i = 5 # defining an integer number
var_ft = 4.0 # defining a float number means we're taking the floating point as well
var_st = 'use case one' # defining a string
var_b = True # defining a bool

In [ ]:
# note: if there'll be ' used inside string the string should be defined in one of the two ways shown below
var_st = "you're doing great using ' in your string"
var_str = 'you\'re still doing great following this string rule to prevent troubles in quotes'

In [ ]:
# type() is a built-in function that returns the type of variable back
print(type(var_b))

# there are other built-in functions that even helps us to change the type of our variable for each data type 
# but they'll be covered on further steps

<class 'bool'>

In [ ]:
# operation on first cell is called assignment. with '=' operator we assigned values to our variables
# there are also other operators, they're used for comparison and logic 

#Arithmetic Operators
var_total = 4 + 5 # '+' is for addition 
var_lesser = 5 - 1 # '-' substraction
var_mul = 2 * 4 # '*' is for multiplication
var_sq = 2 ** 2 # exponentiation
var_divided = 4 / 2 # '/' for division
var_rounded = 4 // 2 # divides and rounds down to nearest integer
var_modulo = 5 % 4 # returns the remainder of division

In [ ]:
# Variable Assignment Combined with Arithmetics Operators
var_total += 5 # equals to var_total = var_total + 5
var_lesser -= var_total # -=
var_mul *= 2 # *=
var_sq **= 5 # **=
var_divided /= 3 # /=
var_modulo %= 5 # %=
var_rounded //= 4 # //=

In [ ]:
# Comparison
# comparison operators are as follows >, <, ==, !=, >=, <=
x = 5
y = 4
print(y < x) # prints True
print(x < y) # prints False
print(x == y) # checks equality, prints False since x and y are not equal
print(x != y) # prints True since x and y are not equal
print(x >= y) # prints True because x is greater than y
print(x <= y) # prints False because x is greater than y

In [ ]:
# Logical Operators
# and, or, not are logical operators
a = True
b = False
print(a and b) # will be false since logic for True and False result in 0, False
print(a or b)
print(not a) # will return a as False

In [ ]:
# Membership Operators
# in, not in
my_word = "sena"
print('s' in my_word) # prints True since my_word string indicates s
print('s' not in my_word) # prints False since we already know that s is a member of string my_word

In [ ]:
# Identity Operators
# is, is not
my_age = 67
their_age = 20
print(my_age is 65) # prints False
print(their_age is not my_age) # prints True

There you go! You just finished every assignment and definition step, after learning data structures we will be focusing to speicific nature of both int, float, string and booleans to manipulate them with specific methods and conversions. Keep studying!

# Data Structures

Data Structures are known as containers that store data on their specific behaviour and rules..

In [ ]:
# Since here we're learning core concepts of Python Programming, the data structures that'll be covered are
# built-in data structures, which are: lists, sets, dictionaries, tuples

# But you may came across people calling Linked Lists and Stacks also data structures, which is true but
# they're the complex versions, User-Defined Data Structures which could be studied later with the basics 
# we're going to cover

Lists, here we go!

In [1]:
# Let's start with LISTS !!

# A list could be defined by,
dt_fruits = ['grape', 'banana', 'strawberry']
mad_lst = ['surname', 1, 21.0, False]

In [6]:
# Lists could be indexed

print(dt_fruits[0]) # will print first list element
print(dt_fruits[-1]) # will print the last element
print(dt_fruits[:2]) # will only take all from the start but not the last item from the very end of the list
print(dt_fruits[3:]) # will give empty since indexing starts from 0 and we have then 0,1,2 but not 3
print(dt_fruits[1:-1]) # middle element basically
print(dt_fruits[:]) # will print all elements included

grape
strawberry
['grape', 'banana']
[]
['banana']
['grape', 'banana', 'strawberry']

In [ ]:
# remember since indexing starts from 0 dt_fruits[2] will actually return the 3rd element

In [4]:
print(dt_fruits[2:]) # this says take all elements from very end (right) then take only 3rd element from start

# 3rd element from start in a list with of 3 items is the last element :)

['strawberry']

In [11]:
# let's manipulate a list by the example below
# it's just like how we in the firsthand defined elements of our empty list

dt_fruits[0] = 'melon'
print(dt_fruits)

['melon', 'banana', 'strawberry']

In [ ]:
# sad to see you go, grape!

Let's wrap up what we've learned about data structure Lists,

* Lists could be INDEXED

We reached elements by their indexes, which we could also manipulate/change elements by their indexes as well

* Lists are ORDERED

There's an order/position of each element in the list object which we also value this to access elements

* Lists are MUTABLE

Mutability means that the elements could be changed.

So far so good.

Now Sets, here we go!

In [ ]:
# Sets contain only unique elements only and this becomes handy when one needs to have
# a list with no duplicates 

# A set could be defined as
fruit = {'melon', 'banana', 'strawberry'}

In [ ]:
# be careful that if you'll create fruit = {} it won't be an empty set
# it'll be an empty Dictionary

Sets do not have indexing and are not sorted, but they are manipulatable, we can change elements -> MUTABILITY

But since they have no index reaching on it's elements it's quite fuzzy. BUT we can define the set all over again which will eventually change the elements

In [13]:
# for example we defined fruit set before, let's define it again with different variables
fruit = {'melon', 'apple', 'kiwi'} # the last 2 elements are changed now :)

So Sets are
* NOT ORDERED/SORTED which leads to NO INDEXING
* MUTABLE

Now Dictionaries, here we go!

In [ ]:
# Dictionaries contain mappings of unique keys to it's elements !

# A dictionary could be defined as shown below
grades = {"sean": 95, "samantha": 98, "claire": 100}

As we said mapping is FROM KEYS to VALUES

And keys could be any immutable type, for example Python Primitive Data Structures that we just learned on first section: integers, strings, floats, booleans. 

We will see Tuples next. Which Tuples also are immutable so we can use them as our keys for our Dictionaries.

PS: All Data Structures are Data Types!

In [16]:
# And keys of one dictionary even could have different types, while one is an integer the other
# could be a string

scores = {1.0: 5, 2.0: 10, 3.0: 15, "total limit":20 }

In [17]:
print(scores)

{1.0: 5, 2.0: 10, 3.0: 15, 'total limit': 20}

In [18]:
# By the help of Keys we could reach to the values and even change them

print(scores) 
scores["total limit"] = 50 #just reached values of total limit key on scores and changed it's value
print(scores)

{1.0: 5, 2.0: 10, 3.0: 15, 'total limit': 20}
{1.0: 5, 2.0: 10, 3.0: 15, 'total limit': 50}

So Dictionaries could be wrapped as,

"useful Data Structures when there's a need for key:value association"
* ORDERED
* COULD BE ACCESED BY KEYS
* MUTABLE

Now the diva.. Tuples, here we go!

In [22]:
# Hiyyyaa! We're so close to being done with Data Structures
# Here we go, TUPLES

# Tuples could be defined with or without ()'s
height, depth = 120, 45 # height is assigned to 120, depth is 45
tracks = (800, 500, 1000, 2500) # this also is a way to define a tuple called tracks

# What's cool is that one could do the trick below
short_m, shortest_m, k_m, hightest_m = tracks
print(short_m, shortest_m)

800 500

Congratulations you just assigned many variables in a very compact way :)

In [27]:
# Tuples are also handy when indexing, but as all indexing examples we don't call it with tracks()
# but []' s

tracks[0]

800

And as we just proved, Tuples are Ordered just like Lists. And we're able to access by indices.

Summary of Tuples,
* ORDERED
* INDEXING AVAILABLE
* IMMUTABLE (they're most famous behaviour btw)

# Attributes, Methods, Built-in Funtions

In [ ]:
# Attributes

In [ ]:
# Methods

In [ ]:
# Built-in Functions

# Control Flows

# Defining Functions